.elementor-29 .elementor-element.elementor-element-7cccc93 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:space-between;align-items:space-between;}.elementor-29 .elementor-element.elementor-element-7cccc93:not(.elementor-motion-effects-element-type-background), .elementor-29 .elementor-element.elementor-element-7cccc93 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#151516;}.elementor-29 .elementor-element.elementor-element-7cccc93{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-29 .elementor-element.elementor-element-7cccc93 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-29 .elementor-element.elementor-element-b256cd3 > .elementor-element-populated{padding:0px 25px 22px 22px;}.elementor-widget-image .widget-image-caption{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-29 .elementor-element.elementor-element-5bf588d{width:auto;max-width:auto;top:0px;}.elementor-29 .elementor-element.elementor-element-5bf588d > .elementor-widget-container{margin:8px 0px 0px 0px;}body:not(.rtl) .elementor-29 .elementor-element.elementor-element-5bf588d{left:-70px;}body.rtl .elementor-29 .elementor-element.elementor-element-5bf588d{right:-70px;}.elementor-29 .elementor-element.elementor-element-5bf588d img{width:30%;max-width:28%;}.elementor-widget-icon.elementor-view-stacked .elementor-icon{background-color:var( --e-global-color-primary );}.elementor-widget-icon.elementor-view-framed .elementor-icon, .elementor-widget-icon.elementor-view-default .elementor-icon{color:var( --e-global-color-primary );border-color:var( --e-global-color-primary );}.elementor-widget-icon.elementor-view-framed .elementor-icon, .elementor-widget-icon.elementor-view-default .elementor-icon svg{fill:var( --e-global-color-primary );}.elementor-29 .elementor-element.elementor-element-0223d3d{width:auto;max-width:auto;top:28px;}body:not(.rtl) .elementor-29 .elementor-element.elementor-element-0223d3d{right:22px;}body.rtl .elementor-29 .elementor-element.elementor-element-0223d3d{left:22px;}.elementor-29 .elementor-element.elementor-element-0223d3d .elementor-icon-wrapper{text-align:center;}.elementor-29 .elementor-element.elementor-element-0223d3d.elementor-view-stacked .elementor-icon{background-color:#FFFFFF;}.elementor-29 .elementor-element.elementor-element-0223d3d.elementor-view-framed .elementor-icon, .elementor-29 .elementor-element.elementor-element-0223d3d.elementor-view-default .elementor-icon{color:#FFFFFF;border-color:#FFFFFF;}.elementor-29 .elementor-element.elementor-element-0223d3d.elementor-view-framed .elementor-icon, .elementor-29 .elementor-element.elementor-element-0223d3d.elementor-view-default .elementor-icon svg{fill:#FFFFFF;}.elementor-29 .elementor-element.elementor-element-0223d3d .elementor-icon{font-size:29px;}.elementor-29 .elementor-element.elementor-element-0223d3d .elementor-icon svg{height:29px;}.elementor-widget-search{--e-search-input-color:var( --e-global-color-text );}.elementor-widget-search.e-focus{--e-search-input-color:var( --e-global-color-text );}.elementor-widget-search .elementor-pagination{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-size:var( --e-global-typography-primary-font-size );font-weight:var( --e-global-typography-primary-font-weight );}.elementor-29 .elementor-element.elementor-element-33aca2d .e-search-input{background-color:#373B41;font-family:"Inter", Sans-serif;font-size:15px;border-style:none;border-radius:7px 7px 7px 7px;}.elementor-29 .elementor-element.elementor-element-33aca2d > .elementor-widget-container{margin:100px 0px 10px 0px;}.elementor-29 .elementor-element.elementor-element-33aca2d{--e-search-placeholder-color:#E7DFDF;--e-search-input-color:#F8F8F8;--e-search-icon-label-color:#C7CEC8;--e-search-input-padding-block-start:8px;--e-search-input-padding-inline-start:20px;--e-search-input-padding-block-end:8px;--e-search-input-padding-inline-end:9px;--e-search-icon-label-size:18px;--e-search-input-gap:15px;}.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after{border-color:var( --e-global-color-text );}.elementor-widget-icon-list .elementor-icon-list-icon i{color:var( --e-global-color-primary );}.elementor-widget-icon-list .elementor-icon-list-icon svg{fill:var( --e-global-color-primary );}.elementor-widget-icon-list .elementor-icon-list-item > .elementor-icon-list-text, .elementor-widget-icon-list .elementor-icon-list-item > a{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-icon-list .elementor-icon-list-text{color:var( --e-global-color-secondary );}.elementor-29 .elementor-element.elementor-element-0b41787 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(0px/2);}.elementor-29 .elementor-element.elementor-element-0b41787 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(0px/2);}.elementor-29 .elementor-element.elementor-element-0b41787 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(0px/2);margin-left:calc(0px/2);}.elementor-29 .elementor-element.elementor-element-0b41787 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-0px/2);margin-left:calc(-0px/2);}body.rtl .elementor-29 .elementor-element.elementor-element-0b41787 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-0px/2);}body:not(.rtl) .elementor-29 .elementor-element.elementor-element-0b41787 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-0px/2);}.elementor-29 .elementor-element.elementor-element-0b41787 .elementor-icon-list-icon i{color:#E8EAEB;transition:color 0.3s;}.elementor-29 .elementor-element.elementor-element-0b41787 .elementor-icon-list-icon svg{fill:#E8EAEB;transition:fill 0.3s;}.elementor-29 .elementor-element.elementor-element-0b41787 .elementor-icon-list-item:hover .elementor-icon-list-icon i{color:#000000;}.elementor-29 .elementor-element.elementor-element-0b41787 .elementor-icon-list-item:hover .elementor-icon-list-icon svg{fill:#000000;}.elementor-29 .elementor-element.elementor-element-0b41787{--e-icon-list-icon-size:17px;}.elementor-29 .elementor-element.elementor-element-0b41787 .elementor-icon-list-icon{padding-right:10px;}.elementor-29 .elementor-element.elementor-element-0b41787 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-29 .elementor-element.elementor-element-0b41787 .elementor-icon-list-item > a{font-family:"Poppins", Sans-serif;font-size:13px;font-weight:400;}.elementor-29 .elementor-element.elementor-element-0b41787 .elementor-icon-list-text{color:#C3C6C9;transition:color 0.3s;}.elementor-29 .elementor-element.elementor-element-af69601 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(0px/2);}.elementor-29 .elementor-element.elementor-element-af69601 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(0px/2);}.elementor-29 .elementor-element.elementor-element-af69601 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(0px/2);margin-left:calc(0px/2);}.elementor-29 .elementor-element.elementor-element-af69601 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-0px/2);margin-left:calc(-0px/2);}body.rtl .elementor-29 .elementor-element.elementor-element-af69601 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-0px/2);}body:not(.rtl) .elementor-29 .elementor-element.elementor-element-af69601 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-0px/2);}.elementor-29 .elementor-element.elementor-element-af69601 .elementor-icon-list-icon i{color:#E8EAEB;transition:color 0.3s;}.elementor-29 .elementor-element.elementor-element-af69601 .elementor-icon-list-icon svg{fill:#E8EAEB;transition:fill 0.3s;}.elementor-29 .elementor-element.elementor-element-af69601 .elementor-icon-list-item:hover .elementor-icon-list-icon i{color:#000000;}.elementor-29 .elementor-element.elementor-element-af69601 .elementor-icon-list-item:hover .elementor-icon-list-icon svg{fill:#000000;}.elementor-29 .elementor-element.elementor-element-af69601{--e-icon-list-icon-size:17px;}.elementor-29 .elementor-element.elementor-element-af69601 .elementor-icon-list-icon{padding-right:10px;}.elementor-29 .elementor-element.elementor-element-af69601 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-29 .elementor-element.elementor-element-af69601 .elementor-icon-list-item > a{font-family:"Poppins", Sans-serif;font-size:13px;font-weight:400;}.elementor-29 .elementor-element.elementor-element-af69601 .elementor-icon-list-text{color:#C3C6C9;transition:color 0.3s;}.elementor-29 .elementor-element.elementor-element-571edac:not(.elementor-motion-effects-element-type-background), .elementor-29 .elementor-element.elementor-element-571edac > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#1B1308;}.elementor-29 .elementor-element.elementor-element-571edac{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:20px 7px 0px 7px;}.elementor-29 .elementor-element.elementor-element-571edac > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-29 .elementor-element.elementor-element-32011eb > .elementor-element-populated{padding:22px 22px 22px 22px;}.elementor-29 .elementor-element.elementor-element-b02921a{width:auto;max-width:auto;}.elementor-29 .elementor-element.elementor-element-b02921a img{width:37px;border-style:none;border-radius:10px 10px 10px 10px;}.elementor-widget-image-box .elementor-image-box-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-size:var( --e-global-typography-primary-font-size );font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-widget-image-box:has(:hover) .elementor-image-box-title,
					 .elementor-widget-image-box:has(:focus) .elementor-image-box-title{color:var( --e-global-color-primary );}.elementor-widget-image-box .elementor-image-box-description{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );color:var( --e-global-color-text );}.elementor-29 .elementor-element.elementor-element-d9612cb{width:var( --container-widget-width, 120px );max-width:120px;--container-widget-width:120px;--container-widget-flex-grow:0;bottom:21px;}body:not(.rtl) .elementor-29 .elementor-element.elementor-element-d9612cb{left:72px;}body.rtl .elementor-29 .elementor-element.elementor-element-d9612cb{right:72px;}.elementor-29 .elementor-element.elementor-element-d9612cb .elementor-image-box-wrapper{text-align:left;}.elementor-29 .elementor-element.elementor-element-d9612cb .elementor-image-box-title{margin-bottom:4px;font-family:"Poppins", Sans-serif;font-size:13px;font-weight:600;color:#FAFAFA;}.elementor-29 .elementor-element.elementor-element-d9612cb .elementor-image-box-description{font-family:"Poppins", Sans-serif;font-size:10px;font-weight:400;color:#FFFEFE;}.elementor-29 .elementor-element.elementor-element-00e386f{--display:flex;--position:absolute;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;top:0px;}body:not(.rtl) .elementor-29 .elementor-element.elementor-element-00e386f{left:0px;}body.rtl .elementor-29 .elementor-element.elementor-element-00e386f{right:0px;}.elementor-29 .elementor-element.elementor-element-6fc57a5{width:auto;max-width:auto;top:28px;}.elementor-29 .elementor-element.elementor-element-6fc57a5 > .elementor-widget-container{background-color:#000000;padding:10px 10px 3px 10px;}body:not(.rtl) .elementor-29 .elementor-element.elementor-element-6fc57a5{right:22px;}body.rtl .elementor-29 .elementor-element.elementor-element-6fc57a5{left:22px;}.elementor-29 .elementor-element.elementor-element-6fc57a5 .elementor-icon-wrapper{text-align:center;}.elementor-29 .elementor-element.elementor-element-6fc57a5.elementor-view-stacked .elementor-icon{background-color:#FFFFFF;}.elementor-29 .elementor-element.elementor-element-6fc57a5.elementor-view-framed .elementor-icon, .elementor-29 .elementor-element.elementor-element-6fc57a5.elementor-view-default .elementor-icon{color:#FFFFFF;border-color:#FFFFFF;}.elementor-29 .elementor-element.elementor-element-6fc57a5.elementor-view-framed .elementor-icon, .elementor-29 .elementor-element.elementor-element-6fc57a5.elementor-view-default .elementor-icon svg{fill:#FFFFFF;}.elementor-29 .elementor-element.elementor-element-6fc57a5 .elementor-icon{font-size:29px;}.elementor-29 .elementor-element.elementor-element-6fc57a5 .elementor-icon svg{height:29px;}.elementor-theme-builder-content-area{height:400px;}.elementor-location-header:before, .elementor-location-footer:before{content:"";display:table;clear:both;}@media(min-width:768px){.elementor-29 .elementor-element.elementor-element-32011eb{width:100%;}}@media(max-width:1024px){.elementor-widget-search .elementor-pagination{font-size:var( --e-global-typography-primary-font-size );}.elementor-widget-image-box .elementor-image-box-title{font-size:var( --e-global-typography-primary-font-size );}}@media(max-width:767px){.elementor-widget-search .elementor-pagination{font-size:var( --e-global-typography-primary-font-size );}.elementor-widget-image-box .elementor-image-box-title{font-size:var( --e-global-typography-primary-font-size );}.elementor-29 .elementor-element.elementor-element-6fc57a5 > .elementor-widget-container{padding:10px 10px 3px 10px;}}/* Start custom CSS for icon, class: .elementor-element-0223d3d */.elementor-element-0b41787 .elementor-icon svg {
    display: none;
}

.elementor-element-0b41787 .elementor-icon {
    display: inline-block;
    width: 28px;
    height: 15px;
    background-image: 
        linear-gradient(currentColor, currentColor),
        linear-gradient(currentColor, currentColor),
        linear-gradient(currentColor, currentColor);
    background-size: 100% 2.3px;
    background-repeat: no-repeat;
    background-position:
        top center,
        center center,
        bottom center;
}/* End custom CSS */
/* Start custom CSS for icon-list, class: .elementor-element-0b41787 */.elementor-29 .elementor-element.elementor-element-0b41787 {
  --radius: 8px;
  --icon-default: #fff;
  --icon-hover: #000;
  --bg-hover: #fff;
}

/* Style SVG icons (Font Awesome) */
.elementor-29 .elementor-element.elementor-element-0b41787 .elementor-icon-list-icon svg {
  fill: var(--icon-default);
  stroke: var(--icon-default);
  stroke-width: 0;
  transition: all 0.3s ease;
}

/* Style <i> icons (like Material Design Icons) */
.elementor-29 .elementor-element.elementor-element-0b41787 .elementor-icon-list-icon i {
  color: var(--icon-default);
  transition: all 0.3s ease;
}

/* Change icon color on hover or when active */
.elementor-29 .elementor-element.elementor-element-0b41787 .elementor-icon-list-item.active .elementor-icon-list-icon svg,
.elementor-29 .elementor-element.elementor-element-0b41787 .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
  fill: var(--icon-hover);
  stroke: var(--icon-hover);
  stroke-width: 1;
}

.elementor-29 .elementor-element.elementor-element-0b41787 .elementor-icon-list-item.active .elementor-icon-list-icon i,
.elementor-29 .elementor-element.elementor-element-0b41787 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
  color: var(--icon-hover);
}

/* Padding and radius for link */
.elementor-29 .elementor-element.elementor-element-0b41787 .elementor-icon-list-item a {
  padding: 9px 18px !important;
  border-radius: var(--radius);
  display: inline-flex;
  align-items: center;
  transition: background 0.3s ease;
}

/* Background and text color on hover/active */
.elementor-29 .elementor-element.elementor-element-0b41787 .elementor-icon-list-item.active a,
.elementor-29 .elementor-element.elementor-element-0b41787 .elementor-icon-list-item:hover a {
  background: var(--bg-hover);
}

.elementor-29 .elementor-element.elementor-element-0b41787 .elementor-icon-list-item.active span,
.elementor-29 .elementor-element.elementor-element-0b41787 .elementor-icon-list-item:hover span {
  color: var(--icon-hover);
}

.elementor-29 .elementor-element.elementor-element-0b41787 a:focus {
  outline: none;
}/* End custom CSS */
/* Start custom CSS for icon-list, class: .elementor-element-af69601 */.elementor-29 .elementor-element.elementor-element-af69601 {
  --radius: 8px;
  --icon-default: #fff;
  --icon-hover: #000;
  --bg-hover: #fff;
}

/* Style SVG icons (Font Awesome) */
.elementor-29 .elementor-element.elementor-element-af69601 .elementor-icon-list-icon svg {
  fill: var(--icon-default);
  stroke: var(--icon-default);
  stroke-width: 0;
  transition: all 0.3s ease;
}

/* Style <i> icons (like Material Design Icons) */
.elementor-29 .elementor-element.elementor-element-af69601 .elementor-icon-list-icon i {
  color: var(--icon-default);
  transition: all 0.3s ease;
}

/* Change icon color on hover or when active */
.elementor-29 .elementor-element.elementor-element-af69601 .elementor-icon-list-item.active .elementor-icon-list-icon svg,
.elementor-29 .elementor-element.elementor-element-af69601 .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
  fill: var(--icon-hover);
  stroke: var(--icon-hover);
  stroke-width: 1;
}

.elementor-29 .elementor-element.elementor-element-af69601 .elementor-icon-list-item.active .elementor-icon-list-icon i,
.elementor-29 .elementor-element.elementor-element-af69601 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
  color: var(--icon-hover);
}

/* Padding and radius for link */
.elementor-29 .elementor-element.elementor-element-af69601 .elementor-icon-list-item a {
  padding: 9px 18px !important;
  border-radius: var(--radius);
  display: inline-flex;
  align-items: center;
  transition: background 0.3s ease;
}

/* Background and text color on hover/active */
.elementor-29 .elementor-element.elementor-element-af69601 .elementor-icon-list-item.active a,
.elementor-29 .elementor-element.elementor-element-af69601 .elementor-icon-list-item:hover a {
  background: var(--bg-hover);
}

.elementor-29 .elementor-element.elementor-element-af69601 .elementor-icon-list-item.active span,
.elementor-29 .elementor-element.elementor-element-af69601 .elementor-icon-list-item:hover span {
  color: var(--icon-hover);
}

.elementor-29 .elementor-element.elementor-element-af69601 a:focus {
  outline: none;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-7cccc93 */:root {
    --width: 250px;
    --narrow-width: 80px;
}

.elementor-29 .elementor-element.elementor-element-7cccc93 {
    width: var(--width);
    overflow: auto;
    position: fixed;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out !important;
    overflow-x: hidden;
    z-index: 1;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.elementor-29 .elementor-element.elementor-element-7cccc93::-webkit-scrollbar {
    display: none;
}

.sidebar-toggle {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

body.opening .elementor-29 .elementor-element.elementor-element-7cccc93 {
    width: var(--narrow-width) !important;
}

body.opening .elementor-29 .elementor-element.elementor-element-7cccc93 .elementor-inner-section .elementor-widget-wrap {
    padding-left: 14px !important;
    padding-right: 14px !important;
}

.elementor-29 .elementor-element.elementor-element-7cccc93 .logo {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

body.opening .elementor-29 .elementor-element.elementor-element-7cccc93 .logo {
    opacity: 0;
    transform: scale(0.8);
}

body.open .elementor-29 .elementor-element.elementor-element-7cccc93 .logo {
    display: none;
}

body.opening .elementor-29 .elementor-element.elementor-element-7cccc93 .sidebar-toggle {
    right: 26px;
    transform: rotate(180deg);
}

.elementor-29 .elementor-element.elementor-element-7cccc93 .elementor-widget-search-form form {
    position: relative;
    transition: all 0.3s ease-in-out;
}

.elementor-29 .elementor-element.elementor-element-7cccc93 .elementor-widget-search-form form:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body.opening .elementor-29 .elementor-element.elementor-element-7cccc93 .elementor-widget-search-form form:before {
    z-index: 1;
}

body.opening .elementor-29 .elementor-element.elementor-element-7cccc93 .elementor-search-form__icon {
    padding-left: 14px !important;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.elementor-29 .elementor-element.elementor-element-7cccc93 .elementor-icon-list-text {
    opacity: 1;
    visibility: visible; /* Ensure the text is visible by default */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

body.opening .elementor-29 .elementor-element.elementor-element-7cccc93 .elementor-icon-list-text {
    opacity: 0;
    visibility: hidden; /* Hide the text when collapsed */
    transform: translateX(-15px); /* Optional: Slide out when collapsed */
}

.elementor-29 .elementor-element.elementor-element-7cccc93 .elementor-widget-image-box {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

body.opening .elementor-29 .elementor-element.elementor-element-7cccc93 .elementor-widget-image-box {
    opacity: 0;
    transform: scale(0.9);
}

.elementor-29 .elementor-element.elementor-element-7cccc93 .user {
    transition: all 0.3s ease-in-out;
}

body.opening .elementor-29 .elementor-element.elementor-element-7cccc93 .user .elementor-widget-wrap {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

body.opening .elementor-29 .elementor-element.elementor-element-7cccc93 .user img {
    width: 37px;
    transition: all 0.3s ease-in-out;
    transform: scale(0.9);
}

header + *,
[data-elementor-type="header"] + *,
footer,
[data-elementor-type="footer"] {
    margin-left: var(--width);
    transition: margin-left 0.3s ease-in-out !important;
}

body.opening header + *,
body.opening [data-elementor-type="header"] + *,
body.opening footer,
body.opening [data-elementor-type="footer"] {
    margin-left: var(--narrow-width);
}

@media (max-width: 1024px) {
    header + *,
    [data-elementor-type="header"] + *,
    footer,
    [data-elementor-type="footer"] {
        margin-left: var(--narrow-width);
        transform: translateX(calc(var(--width) - var(--narrow-width)));
        transition: transform 0.6s ease-in-out !important;
    }

    body.opening header + *,
    body.opening [data-elementor-type="header"] + *,
    body.opening footer,
    body.opening [data-elementor-type="footer"] {
        transform: translateX(0);
        transition: transform 0.3s ease-in-out !important;
    }

    html, body {
        overflow-x: hidden;
    }
}

@media (max-width: 767px) {
    .elementor-29 .elementor-element.elementor-element-7cccc93 {
        height: 100vh;
        transition: transform 0.3s ease-in-out;
    }

    body.left .elementor-29 .elementor-element.elementor-element-7cccc93 {
        transform: translateX(calc(-1 * var(--width)));   
    }

    header + *,
    [data-elementor-type="header"] + *,
    footer,
    [data-elementor-type="footer"] {
        margin-left: 0;
        transform: translateX(var(--width));
        transition: transform 0.3s ease-in-out !important;
    }

    body.left header + *,
    body.left [data-elementor-type="header"] + *,
    body.left footer,
    body.left [data-elementor-type="footer"] {
        transform: translateX(0);
    }
}

.site-content footer,
.site-content header + * {
    margin: 0 !important;
    transform: none !important;
}

.search-form-sidebar {
    --e-search-input-gap: 12px;
    transition: all 0.3s ease-in-out;
}

body.opening .search-form-sidebar,
body.left .search-form-sidebar {
    --e-search-input-gap: 0px !important;
}

/* Ensures consistent height for all items */
.elementor-icon-list-item {
  display: flex;
  align-items: center;
  height: 40px; /* Fixed height for consistency */
  overflow: hidden;
}

/* Hides or limits the text during sidebar collapse */
.sidebar-collapsed .elementor-icon-list-text {
  display: none; /* or use max-width: 0 if you want smoother transitions */
}

/* Optionally for smooth transitions */
.elementor-icon-list-text {
  transition: max-width 0.3s ease, opacity 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
}
.sidebar-collapsed .elementor-icon-list-text {
  max-width: 0;
  opacity: 0;
}/* End custom CSS */
/* Start custom CSS for icon, class: .elementor-element-6fc57a5 */.elementor-element-0b41787 .elementor-icon svg {
    display: none;
}

.elementor-element-0b41787 .elementor-icon {
    display: inline-block;
    width: 28px;
    height: 15px;
    background-image: 
        linear-gradient(currentColor, currentColor),
        linear-gradient(currentColor, currentColor),
        linear-gradient(currentColor, currentColor);
    background-size: 100% 2.3px;
    background-repeat: no-repeat;
    background-position:
        top center,
        center center,
        bottom center;
}/* End custom CSS */